<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFolder" value="C:\Git\myalbum\Templates" />
    <add key="OutputFolder" value="C:\Git\myalbum\Output" />
    <add key="FontsFolder" value="C:\Git\myalbum\v8.0\Resources\Fonts" />
    <add key="ImagesFolder" value="C:\Git\myalbum\Images" />
  </appSettings>
</configuration>
