<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFolder" value="C:\My\Git\myalbum\v7.0\Templates" />
    <add key="OutputFolder" value="C:\My\Git\myalbum\v7.0\Output" />
    <add key="FontsFolder" value="C:\My\Git\myalbum\v7.0\Resources\Fonts" />
    <add key="ImagesFolder" value="C:\My\Git\myalbum\v7.0\Resources\Images" />
  </appSettings>
</configuration>
