<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFolder" value="Templates" />
    <add key="OutputFolder" value="Output" />
    <add key="FontsFolder" value="Resources/Fonts" />
    <add key="ImagesFolder" value="Resources/Images" />
  </appSettings>
</configuration>
